<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Рекомендации фильмов</title>
</head>
<body style="font-family:helvetica; background-color:rgb(239, 245, 245)">
  <h1 style="text-align:center; color: rgb(29, 48, 48)">Рандомные фильы</h1>
  <p style="text-align:center;">Оцени что-нибудь из предложенного, пожалуйста</p>
  <p style="text-align:center;">.</p>
<form action='/predict_by_scores' method='POST'>
  <table class="table" align="left" style="margin: 0px auto;">
    <col width="350">
    <col width="75">
      <thead>
          <th align="left">Movies</th>
      </thead>
      <tbody>
          {% for  film in films %}
          <tr>
              <td>{{film[1]}}</td>
              <td>
                  <input type="number" name="{{film[0]}}" min="0.5" max="5" step="0.5">
              </td>
          </tr>
          {% endfor %}
      <tr>
          <input type="submit" value="Оценить", align="left"/>
      </tr>
      </tbody>
  </table>
</form>
</body>
</html>