<!doctype html>

<html lang="en">
<head>

  <meta charset="utf-8">

  <title>Movie Recommender</title>

</head>

<body style="font-family:helvetica; background-color:rgb(239, 245, 245);">

  <h1 style="text-align:center; color: rgb(29, 48, 48)">Наши рекомендации</h1>
  <div style="text-align: center;">
    <span style="color: rgb(48, 156, 120); font-weight: bold;">Мы вам рекомендуем посмотреть</span>
  </div>
  <br>
  <table class="table" align="center" style="margin: 0px auto;">
    <col width="350">
    <col width="75">
      <thead>
          <th align="left">Movies</th>
          {% for  film in result %}
          <tr>
              <td>{{film[1]}}</td>
          </tr>
          {% endfor %}
      </thead>
      <tbody>
      </tbody>
  </table>

</body>
</html>